@model IEnumerable<API_Last.TBL_CMV_CLIENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.curp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.curp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idCliente }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idCliente }) |
            @Html.ActionLink("Elimiar", "Delete", new { id=item.idCliente })
        </td>
    </tr>
}

</table>
